<h1>Travel/Events App</h1>
	<form>
		<input type="search" value="Enter your destination"><br />
		From <input type="date" name="start-date"> to <input type="date" name="end-date"><br />
		<input type="submit" value="Search">
	</form>