// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "twitter/bootstrap";

body {
	padding-top: 70px;
}

.background {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100vh;
	min-height: 100vh;
	z-index: -99;
}

.navbar-default {
	background-color: #2b2928;
	border-color: #0e0e0e;
	.navbar-brand{
		font-weight:bolder;
		color: #fff;
		text-transform: uppercase;
		&:hover{
			color: #fff;
		}
	}
}

h1{
	color: white;
}

#intro{
	text-align: center;
	width: 80%;
	color: white;
	margin: 0 auto;
	margin-bottom: 50px;
	line-height: 24px;
}

#search_location {
	height: 100%;
	font-size:36px;
}

#search_start_date, #search_end_date{
	width: 31.5%;
	font-size: 18px;
	height: 100%;
}

.form-inline {
	text-align: center;
}

.my-form-arrive {
	display: inline-block; 
	padding-right: 10px;
}

.my-form-depart {
	display: inline-block; 
	padding-right: 10px;
	padding-left:15px;
}

.jumbotron {
	
	background-color: rgba(255, 255, 255, 0.9);
}
.btn-info {
	font-size: 30px;
	margin-top:25px;
	width: 50%;
	background-color: #ff5419;
	border-color: #cf3e0b;
	&:hover{
		background-color: #ec4c14;
		border-color: #cf3e0b;
	}
	&:focus{
		background-color: #ec4c14;
		border-color: #cf3e0b;
	}
}

.panel {
	border: 0px;
	box-shadow: 0 0 10px #000;
	margin-bottom:40px;
	.panel-title{
		font-size: 24px;
	}
}

.panel-default > .panel-heading {
	color: #fff;
	background-color: #ff5419;
	border-color: #cf3e0b;
}

.artist-image {
	height: 200px;
	width: 200px;
	float:left;
	margin-right: 25px;
	box-shadow: 0 0 5px #ccc;
}

.submit-button {
	text-align:center;
}

.soundcloud-player {
	margin-left: 2%;
	margin-bottom: 10px;
}

.navbar-default .navbar-nav > li > a {
	color: #ccc;
	&:hover{
		color:#ff5419;
	}
}
