// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "twitter/bootstrap";

body {
	padding-top: 70px;
}

.background {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100vh;
	min-height: 100vh;
	z-index: -99;
}

h1{
	color: white;
}

#search_location {
	height: 100%;
	font-size:36px;
}

#search_start_date, #search_end_date{
	width: 31.5%;
	font-size: 18px;
	height: 100%;
	text-align: center;
}

.my-form-arrive {
	display: inline-block; 
	padding-right: 10px;
}

.my-form-depart {
	display: inline-block; 
	padding-right: 10px;
	padding-left:15px;
}

.jumbotron {
	
	background-color: rgba(255, 255, 255, 0.9);
}
.btn {
	font-size: 30px;
}

.artist-image {
	height: 200px;
	width: 200px;
}


